.list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-item {
  border-bottom: 1px solid rgb(241, 241, 241);
  padding: 1rem 2rem;
  font-size: 20px;
  text-align: initial;
  color: gray;
  width: 100%;
  background-color: white;
  font-weight: 200;
  list-style: none;
}

.list-item:hover span.delete {
  position: relative;
  float: right;
  color: #fd9393;
  cursor: pointer;
  display: block;
}

span.delete,
.hidden {
  display: none;
}
