* {
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 246, 246);
}

h1 {
  font-size: 80px;
  font-weight: 200;
  margin: 0.7rem;
  color: rgb(251, 225, 244);
}

main {
  text-align: center;
}

section {
  border: 1px solid rgb(241, 241, 241);
  box-shadow: 0px 8px 20px -1px rgb(210, 209, 209);
  width: 80vw;
  margin: 0 auto;
}

input {
  border: none;
}

.list-item {
  border-bottom: 1px solid rgb(241, 241, 241);
  padding: 1rem 2rem;
  font-size: 20px;
  text-align: initial;
  color: gray;
  width: 100%;
  background-color: white;
  font-weight: 200;
}

.counter {
  color: lightgrey;
  text-align: initial;
  padding: 0.5rem;
  font-size: 0.7em;
  background-color: white;
}

.list-item:hover::after {
  content: " \00D7";
  position: relative;
  float: right;
  color: #fd9393;
}
